.image-rename-input-container {
  margin-bottom: 1rem;
}

.image-rename-input-container input {
  width: 100%;
  padding: 8px;
}

.image-rename-button-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}